# Бинарные файлы и артефакты сборки
build/
*.exe
*.dll
*.obj
*.pch
*.pdb
*.lib
*.log
*.tmp
build_vs.bat
# Логи приложения
logs/

# Временные файлы IDE
.vscode/
.idea/
!*.h
!*.cpp
!CMakeLists.txt
TZ.md
