#pragma code_page(65001)

#include <windows.h>
#include <commctrl.h>
#include <winres.h>
#include "resource.h"
// Иконки
IDI_APP_ICON ICON "app.ico"
// #include "menus.rc"

// Нейтральные / английские строки (без LANGUAGE)
#include "strings_en.rc"
// Меню
#include "menu_en.rc"


// Русские  строки
#include "strings_ru.rc"
// Русское меню
#include "menu_ru.rc"

// Акселераторы (горячие клавиши)
IDR_MAIN_ACCEL ACCELERATORS
BEGIN
    "O", IDM_PORT_OPEN, VIRTKEY, CONTROL
    "Q", IDM_PORT_CLOSE, VIRTKEY, CONTROL
    "R", IDM_PORT_REFRESH, VIRTKEY, CONTROL
    "S", IDC_BTN_SEND, VIRTKEY, CONTROL
    "L", IDC_BTN_CLEAR, VIRTKEY, CONTROL
    "A", IDM_EDIT_SELECTALL, VIRTKEY, CONTROL
END



// Версия
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904B0"
        BEGIN
            VALUE "CompanyName", "rrdev.ru"
            VALUE "FileDescription", "AsuRaHan COM Port Terminal"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "COMTerminal"
            VALUE "LegalCopyright", "logic@xaker.ru"
            VALUE "OriginalFilename", "COMTerminal.exe"
            VALUE "ProductName", "COM Terminal"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END