#include <winres.h>
#include "resource.h"

IDI_APP_ICON ICON "app.ico"
IDB_TOOLBAR BITMAP "toolbar.bmp"
ID_MANIFEST RT_MANIFEST "app.manifest"

IDR_MAIN_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "Open Port\tCtrl+O", IDM_PORT_OPEN
        MENUITEM "Close Port", IDM_PORT_CLOSE
        MENUITEM "Refresh Ports\tF5", IDM_PORT_REFRESH
        MENUITEM SEPARATOR
        MENUITEM "Exit\tAlt+F4", IDM_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "Find\tCtrl+F", IDM_EDIT_FIND
    END
    POPUP "&View"
    BEGIN
        MENUITEM "Toggle Theme", IDM_VIEW_THEME
    END
END

IDR_MAIN_ACCEL ACCELERATORS
BEGIN
    "O", IDM_PORT_OPEN, VIRTKEY, CONTROL
    "F", IDM_EDIT_FIND, VIRTKEY, CONTROL
    VK_F5, IDM_PORT_REFRESH, VIRTKEY
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "COMTerminal Team\0"
            VALUE "FileDescription", "COM Terminal Win32 Application\0"
            VALUE "FileVersion", "0.1.0.0\0"
            VALUE "InternalName", "COMTerminal\0"
            VALUE "OriginalFilename", "COMTerminal.exe\0"
            VALUE "ProductName", "COMTerminal\0"
            VALUE "ProductVersion", "0.1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
